@font-face {
    font-family: HeavyEquipment;
    src: url('../fonts/HeavyEquipment.ttf') format('truetype');
}



/*Reset Shit*/
html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* unvisited link */
a:link,
a:visited,
a:active {
    color: #d1d1d1;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #c06f34;
    text-decoration: none;
}

/* -------------------------------- 

Primary style

-------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: "Droid Serif", serif;
    font-family: "HeavyEquipment";
    color: #7f8c97;
    background-color: rgba(204, 191, 174, 1);
    ;
}


img {
    max-width: 160%;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-family: "HeavyEquipment";
    font-weight: bold;
}

/* -------------------------------- 

Background

-------------------------------- */

#content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    /* top: 60px; */
    position: relative;

    background-attachment: fixed;
    background-clip: border-box;
    background-color: rgba(204, 191, 174, 1);
    background-image: url("../img/outlyer_outline.png");
    background-origin: padding-box;
    /* background-position: 50% 50%; */
    background-position-x: 50%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: contain;

    /* set scroll to fixed for hiding*/
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: background 1s linear;
    -moz-transition: background 1s linear;
    -o-transition: background 1s linear;
    -ms-transition: background 0.5s linear;
    transition: background 0.5s linear;
    height: 100vh;
}

/* -------------------------------- 

Section

-------------------------------- */
.section {
    min-height: 1vh
}

#impressum-link {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #7f8c97;
}

/* -------------------------------- 

Logo

-------------------------------- */
#section1 {
    width: 100%;
    height: 100%;

}

#logo {
    position: fixed;
    top: 70%;
    left: 35%;
    width: 30%;
    min-width: 150px;
    /* max-width: 500px; */
    z-index: 1000;
}

/* -------------------------------- 

Section Banner

-------------------------------- */
.active-sec {
    color: #c06f34 !important;
    text-decoration: none;
}


#top-banner {
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    z-index: 999;
    background-color: rgba(32, 28, 24, 0.77);
    /* visibility: hidden; */

}

.snap-on {
    visibility: visible;
}

.snap-off {
    visibility: hidden;
}



.flexitop {
    width: 50%;
    display: flex;
    /* margin: auto; */
    left: 25%;
    position: absolute;
}

.bandname {
    position: relative;
    width: 30%;
    margin: auto;
    color: white;
    top: 20px;
}

.index-container {
    color: white;
    /* font-family: "Oswald"; */
    font-family: 'Fjalla One', sans-serif;
    font-family: "HeavyEquipment";
    font-size: 25px;
    top: 20px;
    position: relative;
    width: auto;

}

.index-container>a {
    margin-right: 50px;
}

.index-container-left {
    float: left;
}

.index-container-right {
    float: right;
}

.social-buttons {
    position: relative;

    margin: 10px;
}

#social-buttons-left {
    float: left;
    left: 0;
}

#social-buttons-right {
    float: right;
    right: 0;
}

.social-buttons>a {
    margin-left: 15px;
}

#sc:hover {
    color: #ff7700;
}

#mail:hover {
    color: rgb(74, 184, 0);
}

#insta:hover {
    color: rgb(255, 149, 0);
}

#fb:hover {
    color: #3b5998;
}

#yt:hover {
    color: #cc181e;
}

.section-banner {
    position: absolute;
    top: 0px;
    height: 60px;
    background-color: #201F1F;
    color: #bcbcbc;
    width: 100%;
    /*	border-color: white;
	border-width: 2px;
	border-style: solid;*/
}

.section-title {
    /* font-family: "Oswald"; */
    font-family: 'Fjalla One', sans-serif;
    font-family: "HeavyEquipment";
    text-align: center;
    top: -8px;
    position: relative;
}


/* -------------------------------- 

Section Music

-------------------------------- */
.section {
    width: 100%;
    height: 100%;
}

#section2 {
    width: 100%;
    height: 100%;
    /* background-color: #76f85d6b; */
    position: relative;
}

#music-box {
    position: relative;
    width: 100%;
    background-color: #c06f34;
    height: 40%;
    top: 30%;
}

#info-box {
    width: 70%;
    height: 100%;
    left: 15%;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-family: 'HeavyEquipment';
}

#sc-box {
    position: relative;
    width: 100%;
    /* background-color: #c06f34; */
    height: 40%;
    top: 30%;
}

#info-title {
    color: black;
    font-size: 7vh;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'HeavyEquipment';
    padding-top: 5px;
}

.info-p {
    color: black;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 2vh;

}

.info-i {
    margin-right: 100px;
    margin-left: 5%;
}

.info-i:hover {
    color: #3b5998;
}

.concert-date {
    color: #464343;
    margin-top: 20px;
    margin-left: 20%;
    font-size: 2vh;
}

.concert-date>a {
    color: #795c36;
    text-decoration: underline;
}

.concert-date>a:hover {
    color: #352727;
}


.past {
    text-decoration: line-through;
}

.future {
    font-weight: bold;
}

#SoundCloud-player {
    margin-top: 30px;
    width: 60%;
    margin-left: 20%;
}

/* -------------------------------- 

Section Who's Who

-------------------------------- */
#section3 {
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: rgb(32, 28, 24);
    position: relative;
}

#portraits-box {
    position: relative;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 25vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
}

.portraits {
    width: auto;
    height: auto;
    margin: 20px;
}

.portraits>img {
    height: auto;
    width: auto;
    max-height: 25vh;
    min-height: 100px;
    max-width: 25vw;
    min-width: 100px;
}

.portraits>a>img {
    height: auto;
    width: auto;
    max-height: 25vh;
    min-height: 100px;
    max-width: 25vw;
    min-width: 100px;
}


.portrait-text {
    width: 220px;
    /* float: right; */
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-family: 'HeavyEquipment';
    padding-top: 2vh;
    /* padding-left: 15px; */
}

.name {
    font-size: 19px;
    font-weight: bolder;
}

/* -------------------------------- 

RESPONSIZE DESIGN

-------------------------------- */
@media only screen and (max-width: 1365px) {
    #portraits-box {
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 10%;
        flex-wrap: wrap;
    }
}


@media only screen and (orientation: portrait) {
    #logo {
        position: fixed;
        top: 30%;
        left: 35%;
        width: 30%;
    }

    #portraits-box {
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 10%;
        align-items: left;
        justify-content: left;
        /* max-height: 1vh; */
        overflow: hidden;
    }

    .portrait-text {
        width: auto;
        max-width: 50vw;
        /* padding-top: 10vh; */
        /* padding-left: 15px; */
        text-align: right;
        font-size: 95%;
        float: right
    }

    .portraits {
        width: 100%;
    }

    .portraits>img {
        max-width: 15vh;
        max-height: 15vh;

    }

    .portraits>a>img {
        max-width: 15vh;
        max-height: 15vh;
    }

    .name {
        font-size: 95%;
    }

    #info-title {
        font-size: 5vh
    }

    #SoundCloud-player {
        margin-top: 25px;
        /* width:100%; */
        /* margin-left */
        height: 40%;
    }

}

@media only screen and (orientation: portrait) and (max-width: 770px) {

    /* Make top bar small */
    #logo {
        top: 30%;
        width: 50%;
    }

    .index-container {
        font-size: 20px;
        top: 20px;
        position: relative;
        width: 115px;
    }

    .index-container>a {
        margin-right: 0px;
    }

    .index-container-right {
        float: right;
    }

    .social-buttons {
        margin: 3px;
        top: 20px;
        font-size: 70%;
    }

    .social-buttons>a {
        margin-left: 5px;
    }

}

@media only screen and (max-width: 440px) {
    .index-container {
        font-size: 15px;
        width: 90px;
    }

    #info-title {
        font-size: 3vh;
        margin-bottom: 10px;
    }

    .concert-date {
        font-size: 2vh;
        margin-top: 5px;
        margin-left: 0px;
    }

    #SoundCloud-player {
        height: 50%;
        width: 100%;
        margin-left: 0px;
    }

}

@media only screen and (max-height: 750px) and (orientation: landscape) {
    /* #SoundCloud-player{
        position: absolute;
        width:70%;
        margin-left:0px;
        bottom: -75%;
        left: 0px;
    } */

    #SoundCloud-player {
        height: 42%;
        margin-top: 2vh;
    }

    .concert-date {
        font-size: 15px;
        margin-top: 4px;
    }

    /* Make top bar small */
    #logo {
        width: 50%;
    }

    .index-container {
        font-size: 20px;
        top: 20px;
        position: relative;
    }

    .index-container>a {
        margin-right: 20px;
    }

    .index-container-right {
        /* font-size: 15px; */
        float: right;
        width: 120px;
    }

    .social-buttons {
        margin: 3px;
        top: 20px;
        font-size: 70%;
    }

    .social-buttons>a {
        margin-left: 5px;
    }

    .portraits {
        margin: 10px;
        margin-top: 25px;
    }

    #portraits-box {
        flex-wrap: nowrap;
        align-items: baseline;
    }

    .portrait-text {
        width: auto;
        max-width: 100px;
        /* max-width: 50vw; */
        /* padding-top: 10vh; */
        /* padding-left: 15px; */
        /* text-align: right; */
        font-size: 80%;
        /* float: right */
    }

    .name {
        font-size: 15px;
    }


    @media only screen and (max-height: 600px) and (orientation: landscape) {
        .portraits {
            margin: 20px;
            margin-top: 10px;
        }

        #portraits-box {
            flex-wrap: wrap;
            align-items: baseline;
        }
    }

}